# Import Necessary Libraries #

In [2]:
import pandas as pd
import numpy as np

In [5]:
#import data into data frame
df_us_lifts = pd.read_csv('UnitedStates_liftdata.csv')
df_us_lifts.head()

,Unnamed: 0,Country,State,Resort,Status,Lift Name,Type,Manufacturer,Years of Operation,Capacity,...,Length,Horsepower,Line Speed,Chairs,Towers,Drive,Tension,Ride Time,Notes,Log into your Facebook account to share.Phone number or emailFacebook PasswordorForgot password?
0,0,United States,Alabama,Montgomery Zoo,Operating,Zoofari Skylift,Double,Mueller,2012-,NaN,...,NaN,NaN,NaN,53.0,9.0,East,East,NaN,NaN,NaN
1,0,United States,Alaska,Alyeska,Operating,Bear Cub,Quad,Doppelmayr CTEC,2008-,1200.0,...,1156,100.0,300.0,40.0,6.0,Top,Bottom,3.9,NaN,NaN
2,1,United States,Alaska,Alyeska,Operating,Chair 7,Quad,Poma,1993-,2000.0,...,2815,100.0,500.0,94.0,11.0,Top,Top,5.6,Midstation and Loading Carpet,NaN
3,2,United States,Alaska,Alyeska,Operating,Glacier Bowl Express,High Speed Quad,Doppelmayr,2013-,2400.0,...,4307,800.0,1000.0,92.0,17.0,Bottom,Top,4.3,NaN,NaN
4,3,United States,Alaska,Alyeska,Operating,Ted's Express,High Speed Quad,Doppelmayr,2012-,1800.0,...,4455,453.0,984.0,70.0,17.0,Bottom,Top,4.5,NaN,NaN

In [12]:
df_us_lifts.describe(include = 'all')

,Unnamed: 0,Country,State,Resort,Status,Lift Name,Type,Manufacturer,Years of Operation,Capacity,...,Length,Horsepower,Line Speed,Chairs,Towers,Drive,Tension,Ride Time,Notes,Log into your Facebook account to share.Phone number or emailFacebook PasswordorForgot password?
count,4154.000000,4154,4154,4154,4154,3913,4152,4034,3974,3236.000000,...,3394,1411.000000,2893.000000,1301.000000,2411.000000,2896,2821,2880.000000,873,0.0
unique,NaN,1,45,545,4,2246,53,74,1030,NaN,...,2188,NaN,NaN,NaN,NaN,18,17,NaN,578,NaN
top,NaN,United States,Colorado,Palisades Tahoe,Operating,T-Bar,Double,Riblet,1964-,NaN,...,1000,NaN,NaN,NaN,NaN,Bottom,Bottom,NaN,Relocated,NaN
freq,NaN,4154,541,93,2302,92,1499,534,72,NaN,...,20,NaN,NaN,NaN,NaN,1860,2059,NaN,90,NaN
mean,9.341117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1501.032447,...,NaN,351.366584,569.521604,86.174481,12.488594,NaN,NaN,5.505347,NaN,NaN
std,11.909560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,688.808883,...,NaN,299.853664,253.909660,48.154538,7.244470,NaN,NaN,2.928916,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000,...,NaN,3.000000,144.000000,1.000000,0.000000,NaN,NaN,0.400000,NaN,NaN
25%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,...,NaN,100.000000,422.000000,50.000000,7.000000,NaN,NaN,3.200000,NaN,NaN
50%,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000,...,NaN,250.000000,465.000000,81.000000,11.000000,NaN,NaN,5.000000,NaN,NaN
75%,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800.000000,...,NaN,500.000000,550.000000,118.000000,16.000000,NaN,NaN,7.200000,NaN,NaN
max,92.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4032.000000,...,NaN,1833.000000,2000.000000,352.000000,142.000000,NaN,NaN,17.700000,NaN,NaN

In [15]:
df_us_lifts.columns

Index(['Unnamed: 0', 'Country', 'State', 'Resort', 'Status', 'Lift Name',
       'Type', 'Manufacturer', 'Years of Operation', 'Capacity',
       'Vertical Rise', 'Length', 'Horsepower', 'Line Speed', 'Chairs',
       'Towers', 'Drive', 'Tension', 'Ride Time', 'Notes',
       'Log into your Facebook account to share.Phone number or emailFacebook PasswordorForgot password?'],
      dtype='object')

# Investigating Data #
Here are the next steps that I would like to take when looking at the data:
## Clean Data ##
The following needs to be done to make use of the data:
1. Remove and unnamed and useless columns.
2. Find all of the different status of lifts. 
3. Find all the different types and manufacturers of skilifts as well as their counts.
4. Find how many entries have NaN values for chairs.  
5. Find function of how many chairs per tower of a lift and per length of lift (that do not have nan values).  Use this value to estimate how many chairs are on lifts without values.
6. Estimate how many chairs are in the USA.